 <body>
	 
	  {{ template "globals/header.tmpl" .}}
	  <main role="main" class="container">
		<div class="bg-dark text-secondary px-4 py-5 text-center">
			<div class="py-5">
			  <h1 class="display-5 fw-bold text-white">Welcome to Gamer Gauntlet</h1>
			  <div class="col-lg-6 mx-auto">
				<p class="fs-5 mb-4">Click <i>Configure Gauntlet</i> to change the function and form of your device. Click <i>Configure Server</i> to change the server settings.</p>
				<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
				  <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Configure Gauntlet</button>
				  <button type="button" class="btn btn-outline-light btn-lg px-4">Configure Server</button>
				</div>
			  </div>
			</div>
		  </div>
	  </main>

	  {{ template "globals/footer.tmpl" .}}