 <body>
	  {{ template "globals/header.tmpl" .}}
	  <main role="main" class="container">
		<div class="row">
			<div class="col-md-6">
				<p>Welcome to the Gamer Gauntlet server.</p>
			</div>
		 </div>
	  </main>
	  {{ template "globals/footer.tmpl" .}}